In [1]:
 data <- c(1,2,2,3,1,2,3,3,1,2,3,3,1) # é um vetor e nao um array!!

In [2]:
data

 [1] 1 2 2 3 1 2 3 3 1 2 3 3 1

In [3]:
 fdata <- factor(data)

In [4]:
fdata

 [1] 1 2 2 3 1 2 3 3 1 2 3 3 1
Levels: 1 2 3

In [5]:
attributes (fdata)

$levels
[1] "1" "2" "3"

$class
[1] "factor"

In [6]:
 rdata = factor(data,labels=c("I","II","III"))

In [7]:
rdata

 [1] I   II  II  III I   II  III III I   II  III III I
Levels: I II III

In [8]:
attributes(rdata) # o levels são os mesmos?

$levels
[1] "I"   "II"  "III"

$class
[1] "factor"

In [1]:
#
 # Ordenando fatores para permitir comparacoes 
 #
 mons = c("March","April","January","November","January",
             "September","October","September","November","August",
             "January","November","November","February","May","August",
             "July","December","August","August","September","November",
             "February","April")

In [2]:
mons = factor(mons)

In [3]:
table(mons) # pequena estatistica dos dados

mons
    April    August  December  February   January      July     March       May
        2         4         1         2         3         1         1         1
 November   October September
        5         1         3

In [4]:
mons

 [1] March     April     January   November  January   September October
 [8] September November  August    January   November  November  February
[15] May       August    July      December  August    August    September
[22] November  February  April
11 Levels: April August December February January July March May ... September

In [5]:
#
 # Considerando a ordem dos dados para fins de comparaca
 # 
mons = factor(mons,levels=c("January","February","March", "April","May","June","July",
                            "August", "September","October","November","December"),ordered=TRUE)

In [1]:
mons[1] < mons[2]

[1] TRUE

In [2]:
mons

 [1] March     April     January   November  January   September October
 [8] September November  August    January   November  November  February
[15] May       August    July      December  August    August    September
[22] November  February  April
12 Levels: January < February < March < April < May < June < ... < December

In [7]:
#
# Considerando a ordem dos dados para fins de comparaca
#
fert = c(10,20,20,50,10,20,10,50,20)

In [8]:
fert = factor(fert,levels=c(10,20,50),ordered=TRUE)  # definindo que a ordem importa

In [9]:
attributes(fert)

$levels
[1] "10" "20" "50"

$class
[1] "ordered" "factor"

In [10]:
fert

[1] 10 20 20 50 10 20 10 50 20
Levels: 10 < 20 < 50

In [11]:
table(fert)

fert
10 20 50
 3  4  2

In [12]:
#
#Mas se precisamos realizar algumas estatistica precisamos retornar 
#
mean(fert)  # o que acontece?

Warning message in mean.default(fert):
“argument is not numeric or logical: returning NA”

[1] NA

In [13]:
mean(as.numeric(levels(fert)[fert])) # metodo 1 para definir os niveis com numericos

[1] 23.33333

In [14]:
mean(as.numeric(as.character(fert))) # metodo 2 para definir os niveis com numericos. converte para caracter e depois numerico!

[1] 23.33333

In [15]:
levels(fert)[1]  # acessando o niveis

[1] "10"

In [16]:
#
# Manipulando fatores
#
head(women)   # dados disponiveis no R.

  height weight
1 58     115
2 59     117
3 60     120
4 61     123
5 62     126
6 63     129

In [17]:
?women        # peso em lbs e altura em in

women                 package:datasets                 R Documentation

_A_v_e_r_a_g_e _H_e_i_g_h_t_s _a_n_d _W_e_i_g_h_t_s _f_o_r _A_m_e_r_i_c_a_n _W_o_m_e_n

_D_e_s_c_r_i_p_t_i_o_n:

     This data set gives the average heights and weights for American
     women aged 30-39.

_U_s_a_g_e:

     women

_F_o_r_m_a_t:

     A data frame with 15 observations on 2 variables.

       ‘[,1]’  ‘height’  numeric  Height (in)
       ‘[,2]’  ‘weight’  numeric  Weight (lbs)

_D_e_t_a_i_l_s:

     The data set appears to have been taken from the American Society
     of Actuaries _Build and Blood Pressure Study_ for some (unknown to
     us) earlier year.

     The World Almanac notes: “The figures represent weights in
     ordinary indoor clothing and shoes, and heights with shoes”.

_S_o_u_r_c_e:

     The World Almanac and Book of Facts, 1975.

_R_e_f_e_r_e_n_c_e_s:

     McNeil, D. R. (1977) _Interactive Data Analysis_.  Wiley.

_E_x_a_m_p_l_e_s:

     require(graphics)
     plot(women, xlab = "Height (in)", ylab = "Weight (lb)",
          main = "women data: American women aged 30-39")

In [18]:
range(women$weight)

[1] 115 164

In [19]:
wfact = cut(women$weight,3) # cria intervaloes para a variavel amplitude dos intervalos (164-115)/3=49/3=16.33
table(wfact)

wfact
(115,131] (131,148] (148,164]
        6         5         4

In [20]:
wfact = cut(women$weight,3,labels=c("Low","Medium","High"))
table(wfact)

wfact
   Low Medium   High
     6      5      4

In [21]:
# RESUMO DE COMANDOS

# FACTOR, LEVELS, NLEVELS,ATTRIBUTES, cut, range,as.character,as.numeric,table

##########################################################################################
#
# LISTAS - 
##########################################################################################

# Aceita dados de diferente tipos e tamanhos
# Algumas funcoes do R retornam resultados como listas

mylist = list(a=c(1,2,3),b=c("cat","dog","duck"), d=factor("a","b","a"))

In [22]:
sapply(mylist,mode)

          a           b           d
  "numeric" "character"   "numeric"

In [23]:
mylist

$a
[1] 1 2 3

$b
[1] "cat"  "dog"  "duck"

$d
[1] <NA>
Levels: a

In [24]:
mylist = list(c(1,4,6),"dog",3,"cat",TRUE,c(9,10,11))

In [25]:
mylist

[[1]]
[1] 1 4 6

[[2]]
[1] "dog"

[[3]]
[1] 3

[[4]]
[1] "cat"

[[5]]
[1] TRUE

[[6]]
[1]  9 10 11

In [26]:
mylist[1]

[[1]]
[1] 1 4 6

In [27]:
mylist[2]

[[1]]
[1] "dog"