<h2>Exemplo usando o Apache Solr com o R pelo jupyter Notebook. <h2>

De: https://cran.r-project.org/web/packages/solrium/solrium.pdf
<br/>
https://cran.r-project.org/web/packages/solrium/solrium.pdf
<br/>
https://cran.r-project.org/web/packages/jsonlite/jsonlite.pdf
<br/>

In [12]:
library("solrium")

In [2]:
(cli <- SolrClient$new(host = "api.plos.org", path = "search", port = NULL, errors = "complete"))

<Solr Client>
  host: api.plos.org
  path: search
  port:
  scheme: http
  errors: complete
  proxy:

In [3]:
cli$search(params = list(q='*:*', rows=2, fl='id'))

  id
1 10.1371/journal.pone.0058099/materials_and_methods
2 10.1371/journal.pone.0030394/introduction

In [4]:
cli$group(params = list(q='*:*', group.field='journal', rows=5, group.limit=1,
                        group.sort='publication_date desc',
                        fl='publication_date, score'))

  groupValue     numFound start publication_date     score
1 plos one       1800398  0     2019-03-27T00:00:00Z 1
2 none             66476  0     2012-10-23T00:00:00Z 1
3 plos genetics    67060  0     2019-03-27T00:00:00Z 1
4 plos biology     37280  0     2019-03-27T00:00:00Z 1
5 plos pathogens   60083  0     2019-03-26T00:00:00Z 1

In [5]:
cli$group(params = list(q = '*:*', group.field = 'journal', group.limit = 1,
                        group.sort = 'publication_date asc',
                        fl = c('publication_date', 'score'),
                        fq = "publication_date:[1900-01-01T00:00:00Z TO *]"))

   groupValue                       numFound start publication_date     score
1  plos one                         1800398  0     2006-12-20T00:00:00Z 1
2  none                               57532  0     2005-08-23T00:00:00Z 1
3  plos genetics                      67060  0     2005-06-17T00:00:00Z 1
4  plos biology                       37280  0     2003-08-18T00:00:00Z 1
5  plos pathogens                     60083  0     2005-07-22T00:00:00Z 1
6  plos computational biology         52792  0     2005-06-24T00:00:00Z 1
7  plos medicine                      26406  0     2004-09-07T00:00:00Z 1
8  plos neglected tropical diseases   57268  0     2007-08-30T00:00:00Z 1
9  plos clinical trials                 521  0     2006-04-21T00:00:00Z 1
10 plos medicin                           9  0     2012-04-17T00:00:00Z 1

In [6]:
gq <- 'publication_date:[2013-01-01T00:00:00Z TO 2013-12-31T00:00:00Z]'
cli$group(
  params = list(q='*:*', group.query = gq,
                group.limit = 3, group.sort = 'publication_date desc',
                fl = 'publication_date'))

  numFound start publication_date
1 307076   0     2013-12-31T00:00:00Z
2 307076   0     2013-12-31T00:00:00Z
3 307076   0     2013-12-31T00:00:00Z

In [7]:
cli$group(params = list(q='*:*', group.field='journal', rows=5,
                        group.limit=3, group.sort='publication_date desc',
                        group.format='simple', fl='journal, publication_date'))

  numFound start journal  publication_date
1 2168293  0     PLOS ONE 2019-03-27T00:00:00Z
2 2168293  0     PLOS ONE 2019-03-27T00:00:00Z
3 2168293  0     PLOS ONE 2019-03-27T00:00:00Z
4 2168293  0     NA       2012-10-23T00:00:00Z
5 2168293  0     NA       2012-10-23T00:00:00Z

In [8]:
cli$facet(params = list(q='*:*', facet.field='journal', facet.query=c('cell', 'bird')))

$facet_queries
# A tibble: 2 x 2
  term   value
  <chr>  <int>
1 cell  175285
2 bird   18639

$facet_fields
$facet_fields$journal
# A tibble: 9 x 2
  term                             value
  <fct>                            <fct>
1 plos one                         1800398
2 plos genetics                    67060
3 plos pathogens                   60083
4 plos neglected tropical diseases 57268
5 plos computational biology       52792
6 plos biology                     37280
7 plos medicine                    26406
8 plos clinical trials             521
9 plos medicin                     9


$facet_pivot
NULL

$facet_dates
NULL

$facet_ranges
NULL

In [9]:
cli$highlight(params = list(q='alcohol', hl.fl = 'abstract', rows=2))

  names
1 10.1371/journal.pone.0201042
2 10.1371/journal.pone.0185457
  abstract
1 \nAcute <em>alcohol</em> administration can lead to a loss of control over drinking. Several models argue
2 Objectives: <em>Alcohol</em>-related morbidity and mortality are significant public health issues

In [10]:
out <- cli$stats(params = list(q='ecology', stats.field=c('counter_total_all','alm_twitterCount'), stats.facet='journal'))

In [11]:
out

$data
                  min     max count missing       sum sumOfSquares        mean
counter_total_all   0 1322780 47226       0 263688870 1.119526e+13 5583.552916
alm_twitterCount    0    3438 47226       0    304235 8.148536e+07    6.442108
                       stddev
counter_total_all 14348.70574
alm_twitterCount     41.03619

$facet
$facet$counter_total_all
# A tibble: 9 x 9
  journal   min     max count missing       sum  sumOfSquares   mean stddev
  <chr>   <dbl>   <dbl> <int>   <int>     <dbl>         <dbl>  <dbl>  <dbl>
1 1           0  391184  1204       0  22011521 1250948716861 18282. 26558.
2 2           0  270034   318       0   6608289  400062632281 20781. 28789.
3 3        1354  221758  1249       0   9088713  227814882055  7277. 11382.
4 4        9348   18512     2       0     27860     430079248 13930   6480.
5 5           0  887162 39509       0 187617267 6833412438985  4749. 12264.
6 6           0  138374   854       0   7817990  145035575114  9155.  9280.
7 7           0  153848  1052       0  10214011  199343023389  9709.  9763.
8 8           0  323752  2114       0  11826819  243817900319  5595.  9169.
9 9           0 1322780   924       0   8476400 1894391472058  9174. 44364.

$facet$alm_twitterCount
# A tibble: 9 x 9
  journal   min   max count missing    sum sumOfSquares  mean stddev
  <chr>   <dbl> <dbl> <int>   <int>  <dbl>        <dbl> <dbl>  <dbl>
1 1           0  2142  1204       0  39045     15091795 32.4  107.
2 2           0   831   318       0   5826      1217690 18.3   59.2
3 3           0   455  1249       0   7368       576290  5.90  20.7
4 4           0     3     2       0      3            9  1.5    2.12
5 5           0  3438 39509       0 211664     60964300  5.36  38.9
6 6           0   250   854       0   8476       414748  9.93  19.7
7 7           0   230  1052       0   9237       461117  8.78  19.0
8 8           0   968  2114       0  11804      1555638  5.58  26.6
9 9           0   578   924       0  10812      1203770 11.7   34.2

In [12]:
out2 <- cli$mlt(params = list(q='title:"ecology" AND body:"cell"', mlt.fl='title', mlt.mindf=1, mlt.mintf=1, fl='counter_total_all', rows=5))

In [13]:
out

$data
                  min     max count missing       sum sumOfSquares        mean
counter_total_all   0 1322780 47226       0 263688870 1.119526e+13 5583.552916
alm_twitterCount    0    3438 47226       0    304235 8.148536e+07    6.442108
                       stddev
counter_total_all 14348.70574
alm_twitterCount     41.03619

$facet
$facet$counter_total_all
# A tibble: 9 x 9
  journal   min     max count missing       sum  sumOfSquares   mean stddev
  <chr>   <dbl>   <dbl> <int>   <int>     <dbl>         <dbl>  <dbl>  <dbl>
1 1           0  391184  1204       0  22011521 1250948716861 18282. 26558.
2 2           0  270034   318       0   6608289  400062632281 20781. 28789.
3 3        1354  221758  1249       0   9088713  227814882055  7277. 11382.
4 4        9348   18512     2       0     27860     430079248 13930   6480.
5 5           0  887162 39509       0 187617267 6833412438985  4749. 12264.
6 6           0  138374   854       0   7817990  145035575114  9155.  9280.
7 7           0  153848  1052       0  10214011  199343023389  9709.  9763.
8 8           0  323752  2114       0  11826819  243817900319  5595.  9169.
9 9           0 1322780   924       0   8476400 1894391472058  9174. 44364.

$facet$alm_twitterCount
# A tibble: 9 x 9
  journal   min   max count missing    sum sumOfSquares  mean stddev
  <chr>   <dbl> <dbl> <int>   <int>  <dbl>        <dbl> <dbl>  <dbl>
1 1           0  2142  1204       0  39045     15091795 32.4  107.
2 2           0   831   318       0   5826      1217690 18.3   59.2
3 3           0   455  1249       0   7368       576290  5.90  20.7
4 4           0     3     2       0      3            9  1.5    2.12
5 5           0  3438 39509       0 211664     60964300  5.36  38.9
6 6           0   250   854       0   8476       414748  9.93  19.7
7 7           0   230  1052       0   9237       461117  8.78  19.0
8 8           0   968  2114       0  11804      1555638  5.58  26.6
9 9           0   578   924       0  10812      1203770 11.7   34.2

In [16]:
out <- cli$highlight(params = list(q='alcohol', hl.fl = 'abstract', rows=2))
out

  names
1 10.1371/journal.pone.0201042
2 10.1371/journal.pone.0185457
  abstract
1 \nAcute <em>alcohol</em> administration can lead to a loss of control over drinking. Several models argue
2 Objectives: <em>Alcohol</em>-related morbidity and mortality are significant public health issues

In [36]:
cli$search(params = list(q='_val_:"product(counter_total_all,alm_twitterCount)"',
  rows=5, fl='id,title', fq='doc_type:full'))

  id
1 10.1371/journal.pmed.0020124
2 10.1371/journal.pone.0141854
3 10.1371/journal.pcbi.1005619
4 10.1371/journal.pone.0016885
5 10.1371/journal.pone.0185809
  title
1 Why Most Published Research Findings Are False
2 A Multi-Level Bayesian Analysis of Racial Bias in Police Shootings at the County-Level in the United States, 20112014
3 Ten simple rules for structuring papers
4 Long-Term Follow-Up of Transsexual Persons Undergoing Sex Reassignment Surgery: Cohort Study in Sweden
5 More than 75 percent decline over 27 years in total flying insect biomass in protected areas

In [37]:
cli$search(params = list(q='_val_:"max(counter_total_all)"',
    rows=5, fl='id,counter_total_all', fq='doc_type:full'))

  id                                                      counter_total_all
1 10.1371/journal.pmed.0020124                            2728832
2 10.1371/journal.pcbi.1003149                            1322780
3 10.1371/annotation/80bd7285-9d2d-403a-8e6f-9c375bf977ca 1235195
4 10.1371/journal.pone.0141854                             887162
5 10.1371/journal.pcbi.0030102                             872604

In [38]:
conn <- SolrClient$new(scheme = "https", host = "bison.usgs.gov", path = "solr/occurrences/select", port = NULL)
conn$search(params = list(q = '*:*', fl = c('decimalLatitude','decimalLongitude','scientificName'), rows = 2))

  decimalLongitude scientificName              decimalLatitude
1 -75.41667        Setophaga coronata coronata 37.91667
2 -75.41667        Setophaga coronata coronata 37.91667

In [39]:
conn <- SolrClient$new(scheme = "https", host = "bison.usgs.gov", path = "solr/scientificName/select", port = NULL)
conn$search(params = list(q = '*:*'))

   scientificName             _version_
1  Dictyopteris polypodioides 1.565325e+18
2  Lonicera iberica           1.565325e+18
3  Epuraea ambigua            1.565325e+18
4  Pseudopomala brachyptera   1.565325e+18
5  Didymosphaeria populina    1.565325e+18
6  Sanoarca                   1.565325e+18
7  Celleporina ventricosa     1.565325e+18
8  Trigonurus crotchi         1.565325e+18
9  Ceraticelus laticeps       1.565325e+18
10 Micraster acutus           1.565325e+18